/* rye-regular - latin */
@font-face {
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/rye-v13-latin/rye-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/rye-v13-latin/rye-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/rye-v13-latin/rye-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/rye-v13-latin/rye-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/rye-v13-latin/rye-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/rye-v13-latin/rye-v13-latin-regular.svg#Rye') format('svg'); /* Legacy iOS */
  }

body {
    margin: 0;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('img/5_background/layers/air.png');
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Rye';
    font-size: 46px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    display: block;
}

.d-none {
    display: none !important;
}

/* Panel */
.panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-top: -30px;
}

.touch-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.fullscreen-icon {
    display: flex;
    justify-content: flex-end;
    width: 700px;
}

.fullscreen-icon img {
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin-right: 20px;
    cursor: pointer;
}

.fullscreen-icon img:hover {
    height: 20px;
    width: 20px;
}

.nofullscreen-icon {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 720px;
    margin-top: -30px;
}

.nofullscreen-icon img {
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin-right: 55px;
    margin-top: 10px;
    cursor: pointer;
}

.nofullscreen-icon img:hover {
    height: 20px;
    width: 20px;
}

.speaker {
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin-right: 20px;
    cursor: pointer;
}

.speaker:hover {
    height: 20px;
    width: 20px;
}

/* Caption */
.explanation {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.keys {
    display: flex;
    align-items: center;
}

.keys img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.keys span {
    font-family: 'Rye';
    margin-left: 10px;
}


/* Startscreen */
.startscreen {
    width: 760px;
    height: 480px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: 70% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
    z-index: 2;
}

.startbtn {
    width: 200px;
    background-color: #FFCB19;
    font-family: 'Rye';
    border-radius: 5px;
    border: none;
    font-size: 42px;
    cursor: pointer;
    animation: glowing 1300ms infinite;
    margin-right: 30px;
}

.marginbtn {
    margin-top: 0;
    margin-bottom: 0;
}

@keyframes glowing {
    0% {
      background-color: #FFA000;
      box-shadow: 0 0 3px #FFA000;
    }
    50% {
      background-color: #FFCB19;
      box-shadow: 0 0 10px #FFCB19;
    }
    100% {
      background-color: #FFA000;
      box-shadow: 0 0 3px #FFA000;
    }
  }

  .gameover {
    width: 760px;
    height: 480px;
    background-image: url('img/9_intro_outro_screens/game_over/oh no you lost!.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .endscreen {
    width: 760px;
    height: 480px;
    background-image: url('img/9_intro_outro_screens/game_over/gameover.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .btn-container-restart {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
    z-index: 2;
}

.restartbtn {
    width: 200px;
    background-color: #FFCB19;
    font-family: 'Rye';
    border-radius: 5px;
    border: none;
    font-size: 35px;
    cursor: pointer;
    animation: glowing 1300ms infinite;
    margin-right: 30px;
}


/* Media Queries */
/* Smartphones */
@media (max-width: 760px) {
    .game {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    .startscreen {
        width: 100%;
    }

    .endscreen {
        width: 100%;
    }

    .gameover {
        width: 100%;
    }

    .btn-container {
        justify-content: center;
        margin-top: 20px;
    }

    .btn-container-restart {
        justify-content: center;
        margin-top: 20px;
    }

    h1 {
        display: none;
    }

    .explanation {
        display: none;
    }

    .panel {
        margin-top: -30px;
        max-width: 480px;
        padding-left: 50px;
        box-sizing: border-box;
    }

    .touch-control {
        display: flex;
    }

    .keys {
        margin-right: 20px;
    }

    .keys img {
        width: 30px;
        height: 30px;
    }

    .keys span {
        font-size: 9px;
    }
}

/* Smartphones */
@media (max-height: 480px) {
    .game {
        height: 100vh;
    }

    canvas {
        height: 100vh;
    }

    .startscreen {
        height: 100vh;
    }

    .endscreen {
        height: 100vh;
    }

    .gameover {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .btn-container {
        justify-content: center;
        margin-top: 20px;
    }

    .btn-container-restart {
        justify-content: center;
        margin-top: 20px;
    }

    .explanation {
        display: none;
    }

    .panel {
        margin-top: -30px;
        max-width: 480px;
        padding-left: 50px;
        box-sizing: border-box;
    }

    .touch-control {
        display: flex;
    }

    .keys {
        margin-right: 20px;
    }

    .keys img {
        width: 30px;
        height: 30px;
    }

    .keys span {
        font-size: 9px;
    }
}