/* smokum-regular - latin */
@font-face {
  font-family: 'Smokum';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/smokum-v24-latin/smokum-v24-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/smokum-v24-latin/smokum-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/smokum-v24-latin/smokum-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/smokum-v24-latin/smokum-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/smokum-v24-latin/smokum-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/smokum-v24-latin/smokum-v24-latin-regular.svg#Smokum') format('svg'); /* Legacy iOS */
}

body {
    margin: 0;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('img/5_background/layers/air.png');
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Smokum';
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    display: block;
}

.fullscreen-icon {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 720px;
    margin-top: -30px;
}

.fullscreen-icon img {
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin-right: 20px;
    cursor: pointer;
}

.fullscreen-icon img:hover {
    height: 20px;
    width: 20px;
}

.d-none {
    display: none;
}

.nofullscreen-icon {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 720px;
    margin-top: -25px;
}

.nofullscreen-icon img {
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin-right: 20px;
    cursor: pointer;
}

.nofullscreen-icon img:hover {
    height: 20px;
    width: 20px;
}

/* Smartphones */
@media (max-width: 760px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .fullscreen {
        display: none;
    }
}

/* Smartphones */
@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .fullscreen {
        display: none;
    }
}